<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="KeystoneUri" value="http://zinc26.pha.jhu.edu:5000"/>
    <add key="WebServiceUri" value="http://apus.pha.jhu.edu/SkyserverWS/DR10/"/>

    <add key="AdminUser.UserName" value="*****"/>
    <add key="AdminUser.TenantName" value="*****"/>
    <add key="AdminUser.Password" value="*****"/>

    <add key="RegisteredUser.UserName" value="*****"/>
    <add key="RegisteredUser.TenantName" value="*****"/>
    <add key="RegisteredUser.Password" value="*****"/>

    <add key="NonRegisteredUser.UserName" value="*****"/>
    <add key="NonRegisteredUser.TenantName" value="*****"/>
    <add key="NonRegisteredUser.Password" value="*****"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
